<%- include head %>
    <div class="container">
        <div class="row vertical-align" style="margin-top:100px; margin-bottom:100px; margin-left:auto; margin-right:auto;">
            <div class="col-md-6 ">
               <h1>HOPPLA! 404! Nichts gefunden.</h1>
            </div>
            <div class="col-md-6" style="margin:auto;">
                <form action="/">
                    <input type="submit" class="btn btn-default btn-lg sharp" value="PLEASE TAKE ME HOME">
                </form>
            </div>

        </div>
    </div>

    <style>
        .vertical-align {
            display: flex;
            flex-direction: row;
        }

        .btn.sharp {
            border-radius: 0;
        }
    </style>

    <%- include foot %>
