<%- include ./head %>
    <script src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js'></script>

    <body>
        <div style='text-align: center'>
        <canvas id="myChart" width="1200" height="500"></canvas>
        <script>
            var tmpLabel = ['<%= chart.labels.join(',') %>'];
            tmpLabel =  tmpLabel[0].split(',');
            var chartdata = {
                labels: tmpLabel.reverse()
                , datasets: [
                    {
                        label: "My Money History"
                        , fillColor: "rgba(220,10,10,0.2)"
                        , strokeColor: "rgba(220,10,10,1)"
                        , pointColor: "rgba(220,10,10,1)"
                        , pointStrokeColor: "#fff"
                        , pointHighlightFill: "#fff"
                        , pointHighlightStroke: "rgba(220,10,10,1)"
                        , data: [<%= chart.data %>].reverse()
        }
    ]
            };
            var ctx = document.getElementById("myChart").getContext("2d");
            var myBarChart = new Chart(ctx).Line(chartdata, {
                scaleShowGridLines: true
                ,scaleGridLineColor: "rgba(0, 0, 0, .05)"
                ,scaleGridLineWidth: 1
                ,scaleShowHorizontalLines: true
                ,scaleShowVerticalLines: true
                ,barShowStroke: true
                ,barStrokeWidth: 2
                ,barValueSpacing: 5
                ,barDatasetSpacing: 1
            });
        </script>
        </div>
    </body>
    <%- include ./foot %>