
<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-4"> <a href="#">Ficken</a> </div>
            <div class="col-lg-8">
                <p>@2016 by Freshdachs</p>
            </div>
        </div>
    </div>

    
</footer>

</html>