<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        <%= title %>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-dialog.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
    <style>
    .mylist {
            height: 300px;
            width: 100%;
        }
        
        .mylist {
            overflow: hidden;
            overflow-y: scroll;
        }
        
        ul.info {
            background-color: #ccffff;
        }
        
        ul.error {
            background-color: #ffc2b3;
        }
    }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <%= title %>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/chart">Money Chart</a></li>
                <li><a href="/moneyeventschart">Money Event Chart</a></li>
                <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Actions
        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="getCode();">Get 2FA-Code</a></li>
                        <li><a href="#">Dummy</a></li>
                        <li><a href="#">Dummy</a></li>
                    </ul>
                </li>
                <li><a href="#">Action</a></li>
            </ul>
        </div>
    </nav>
</head>