<%- include ./head %>
   <script src='/js/myJS.js'></script>
    <body>
        
        <div style='text-align: center'>
            <h1>Log:</h1>
                <ul class='mylist logdiv'>
                   <% for(var i = 0; i < logs.length; i++) {%>
                <%- logs[i] %>
                    <% } %>
                      </ul>
            <br>
            <h1>Infos:</h1>
            <% for(var i = 0; i < infos.length; i++) {%>
                <br>
                <%= infos[i] %>
                    <% } %>
                        <h1>Käufe:</h1>
                        <ul class='mylist'>
                            <% buys %>
                        </ul>
        </div>   
        <script>
            $(".logdiv").scrollTop($(".logdiv")[0].scrollHeight);
        </script>
    </body>
    <%- include ./foot %>